<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
		<div style="text-align:right">
			<button onclick="Settings()">Settings</button>
		</div>
    <h2 class="container my-2 p-2">The <%=name%>s</h2>
    <div id="buttons">
    Sunday<input id="sunday" class="container-fluid p-3 my-1" value="<%=sunday%>"><br>
    Monday<input id="monday" class="container-fluid p-3 my-1"value="<%=monday%>"><br>
    Tuesday<input id="tuesday" class="container-fluid p-3 my-1" value="<%=tuesday%>"><br>
    Wednesday<input id="wednesday" class="container-fluid p-3 my-1" value="<%=wednesday%>"><br>
    Thursday<input id="thursday" class="container-fluid p-3 my-1" value="<%=thursday%>"><br>
    Friday<input id="friday" class="container-fluid p-3 my-1" value="<%=friday%>"><br>
    Saturday<input id="saturday" class="container-fluid p-3 my-1" value="<%=saturday%>"><br>
    </div>
		<button class="container" onclick="Save()">Save</button>
    <script>
			function dayStr(day){
				return "&&"+day+"="+document.getElementById(day).value;
			}
			localStorage.setItem("code","<%=code%>")
			function Save(){
				document.location.href = "/save?code="+"<%=code%>"+dayStr("sunday")+dayStr("monday")+dayStr("tuesday")+dayStr("wednesday")+dayStr("thursday")+dayStr("friday")+dayStr("saturday");
			}
			function Settings(){
				document.location.href = "/settings?code="+"<%=code%>";
			}
			function disable(bool){
				let buttons = document.getElementById("buttons");
				for (let i = 0; i < buttons.childElementCount; i++) {
					buttons.children[i].disabled = bool;
				}
			}
			disable(true);
			checkAdmin();
			function checkAdmin(){
				if("<%=admin%>" == "true"){
				disable(false);
				}
			}
    </script>
			<script src="color.js"></script>
</body>
</html>